.wrapper {
	&--game {
		
		background-color: #1d1e21;
		.content {
			margin-top: 30px;
			margin-left: 30px;
			margin-right: 30px;
			padding-bottom: 145px;
			background-color: #000;
			height: calc(100vh - 30px);
			// padding-bottom: 145px;
		}
	}
}
.game {
	&__bottom {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 100%;
		background-color: #1d1e21;
		padding: 30px 0;
		&-content {
			display: flex;
			justifu-content: space-between;
			align-items: center;
		}
		&-right {
			width: 35%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			div {
				p {
					font: 700 normal 24px $font1;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 1px;
					text-align: left;
					color: #f7e5b4;
					text-shadow: -1.4px 1.4px 5.7px rgba(0, 0, 0, 0.4);
					text-transform: uppercase;
					padding-left: 45px;
				}
			}
			.btn {
				&:before {
					left: 22px;
				}
				p {
					padding-left: 35px;
				}
			}
		}
		&-left {
			width: 65%;
			li {
				height: 85px;
				width: calc(25% - 2px);
				float: left;
				// padding: 20px 0 10px 0;
				display: flex;
				justify-content: center;
				align-items: center;
				border-right: 2px solid rgba(255,255,255,0.08);
				& + li {
					
				}
				&:nth-child(1) {
					p, span {
						// @include addPrefix(background, linear-gradient(#acacc4, #f7fefe));
						background: -webkit-linear-gradient(#acacc4, #f7fefe);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				&:nth-child(2) {
					p, span {
						// @include addPrefix(background, linear-gradient(#d49abb, #de74a5));
						background: -webkit-linear-gradient(#d49abb, #de74a5);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				&:nth-child(3) {
					p, span {
						// @include addPrefix(background, linear-gradient(#8fbbd6, #d7ecf2));
						background: -webkit-linear-gradient(#8fbbd6, #d7ecf2);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				&:nth-child(4) {
					p, span {
						// @include addPrefix(background, linear-gradient(#ebd5b8, #fefbf9));
						background: -webkit-linear-gradient(#ebd5b8, #fefbf9);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}	
				}
			}
			p {
				letter-spacing: 2.4px;
				font: 700 normal 50px $font1;
				// line-height: 0.75;
				line-height: 1;
				// @include addPrefix(background-clip, text);
				// @include addPrefix(text-fill-color, transparent);
				
				img {
					width: 45px;
					height: 28px;
				}
			}
			span {
				// margin-top: 16px;
				margin-top: 5px;
				display: block;
				font: 400 normal 25px $font1;
				// line-height: 0.75;
				line-height: 1;
			}
		}
	}
}